<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017784006655-qosujrcd4htf604spqetsuqgethdst3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017784006655-qosujrcd4htf604spqetsuqgethdst3q</string>
	<key>API_KEY</key>
	<string>AIzaSyBa5OlNUAVF299Kf7C-SPqDUYBqA4k1I9s</string>
	<key>GCM_SENDER_ID</key>
	<string>1017784006655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yesip.Netflix-Clone</string>
	<key>PROJECT_ID</key>
	<string>netflixclone-7a27d</string>
	<key>STORAGE_BUCKET</key>
	<string>netflixclone-7a27d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017784006655:ios:5b0edc2db641e24bb859ca</string>
	<key>DATABASE_URL</key>
	<string>https://netflixclone-7a27d-default-rtdb.firebaseio.com</string>
</dict>
</plist>